* {
    transition: 0.5s ease;
}

html {
    -webkit-tap-highlight-color: transparent;
}

#body {
    background-image: url(../img/concert.jpg);
    background-size: cover;
    height: 100vh;
}

.row {
    height: 100vh;
}

.key {
    display: inline-block;
    padding: 10px;
    height: 100px;
    width: 100px;
    background-color: lightblue;
    margin: 10px;
    font-size: 30px;
    text-align: center;
    box-shadow: 10px 10px 10px black;
}

.key p {
    font-size: 15px;
    color: darkmagenta;
}

.key:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.key:active {
    transform: scale(0.8);
    box-shadow: 5px 5px 5px black;
}
