html {
    -webkit-tap-highlight-color: transparent;
}

#body {
    background-image: url(../img/concert.jpg);
    background-size: cover;
    height: 100vh;
}

.row {
    height: 100vh;
}

.key {
    display: inline-block;
    padding: 10px;
    height: 100px;
    width: 100px;
    background-color: transparent;
    border: 2px solid black;
    margin: 10px;
    font-size: 30px;
    text-align: center;
    box-shadow: 10px 10px 10px black;
    color: darkmagenta;
    transition: all 0.5s;
}

.key p {
    font-size: 15px;
    color: darkmagenta;
}

.playing {
    border: 3px solid magenta;
}
